.menu-icon {
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 100%;
    margin-right: 15px;
}

.menu-icon:hover {
    background-color: #ccc;
}

@media (max-width: 900px) {
    .menu-icon {
        /* display: none; */
        width: 20px;
    }
    .nav-right img {
        display: none;
    }
    .nav-right .user-icon {
        display: block;
        width: 30px;
    }
    .logo {
        width: 90px;
    }
    .nav-middle .search-box input {
        width: 100px;
    }
}
