.sidebar {
    height: 100vh;
    margin-top: 70px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.sidebar .active {
    font-weight: bold;
    background-color: #1f2937;
}

.small-sidebar {
    width: 20%;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.dark .sidebar {
    background-color: #111827;
    color: #f3f4f6;
    border-color: #1f2937;
}

.dark .side-link:hover {
    background-color: #374151;
}

.active {
    background-color: #e5e7eb;
    font-weight: bold;
}

.dark .active {
    background-color: #374151;
    color: #ffffff;
}

@media (max-width: 900px) {
    .sidebar {
        /* display: none; */
        /* width: 0; */
    }
}
