@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply transition-colors duration-300;
}

.dark body {
    @apply bg-gray-900 text-white;
}

.dark input .dark textarea {
    @apply bg-gray-700 text-white;
}

.dark button {
    @apply bg-gray-800 text-white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}
